html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Knockout HTF49-Liteweight";
    src: url(../fonts/knockut-regular1.woff2) format("woff2");
    font-display: swap;
}
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #faf7f2;
    box-shadow: 0px 3px 6px #00000021;
    padding: 6px;
}

@media (max-width: 992px) {
    header {
        padding: 0;
    }
}

.top_header {
    background-color: var(--ss-primary);
    height: 4.5rem;
}

.top_header p {
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    padding: 1.2rem 0rem;
}

.icons-group a img {
    width: 20px;
    min-width: 20px;
    max-height: 20px;
}

.cart-contents i {
    font-size: 2.5rem;
}

/*shrink*/
.shrink.main_header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    /* transition-delay: 0.02s; */
}

.shrink {
    background-color: #fff !important;
}

.shrink .header_area ul li a:hover {
    color: var(--ss-primary);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.shrink.main_header {
    z-index: 10;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
    /* transition: 0.2s; */
}

.shrink ul.navbar-nav li a.nav-link {
    color: #000 !important;
}

.shrink ul.navbar-nav li active a.nav-link {
    color: #ff9 !important;
}

.shrink ul.navbar-nav li a.nav-link:hover {
    color: var(--ss-secondary) !important;
}

.shrink.main_header {
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
    /* transition: 0.2s; */
    /* animation: smoothScroll 1s forwards; */
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.sticky-top {
    z-index: 9;
}

.navbar-expand-md .navbar-nav .nav-link {
    font-size: 2.6rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    font-family: "Knockout HTF49-Liteweight";
    line-height: 2.8rem;
    color: #000;
    text-transform: uppercase;
}

.header-right-menus {
    display: flex;
    align-items: center;
}

#search-overlay {
    display: none;
    position: absolute;
    right: 0;
    top: 165px;
    z-index: 9;
}

.nav-link.dropdown-toggle:hover i {
    transform: rotate(180deg);
}

.nav-link.dropdown-toggle i {
    transition: 0.3s ease-in-out;
}

.search-submit {
    background-color: var(--ss-primary);
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #62a901;
}

.search-submit:hover {
    background: var(--ss-primary);
    border-color: var(--ss-primary);
}

.icons-group a i {
    color: #000;
}

.icons-group a {
    padding: 0rem 1rem;
    vertical-align: middle;
}

.cart-contents {
    position: relative;
}

.cart-contents span {
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: var(--ss-primary);
    padding: 0px 6px;
    border-radius: 50px;
    top: -1rem;
    right: 0rem;
}

.product_search input {
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.product_search {
    padding: 2rem 2rem 0;
    background-color: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
}

.product_search i {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: #fff;
    padding: 0.7rem 0.8rem;
    border-radius: 5rem;
    /* border: 1px solid var(--ss-primary); */
    color: #f75904;
}

.search-submit {
    visibility: visible;
}

header .nav-item {
    display: flex;
    align-items: center;
    height: 9rem;
}

header .navbar-brand img {
    max-width: 9.8rem;
}

.dropdown-toggle::after {
    display: none;
}

header .navbar-expand-md .navbar-nav .dropdown-menu {
    top: 16rem;
    border: none;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
}

.navbar-expand-md .navbar-nav .dropdown-menu.show {
    left: 0;
}

.navbar-expand-md .navbar-nav .dropdown-menu ul {
    padding: 0;
}

.dropdown-item img {
    width: 100px;
}

.navbar-expand-md .navbar-nav .dropdown-menu ul li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-expand-md .navbar-nav .dropdown-menu ul li .dropdown-item {
    padding: 2rem 1rem;
}

.navbar-expand-md .navbar-nav .dropdown-menu ul li .dropdown-item:active {
    background-color: var(--ss-primary);
}

.navbar-expand-md .navbar-nav .dropdown-menu ul li span.trackName {
    font-size: 1.4rem;
    white-space: normal;
}

.navbar-expand-md .navbar-nav .dropdown-menu h4 {
    color: #000;
    font-family: var(--ss-roboto);
    font-size: 2rem;
    font-weight: var(--ss-font500);
    padding-left: 0;
    padding-top: 2rem;
    border-bottom: 0;
    padding-bottom: 2rem;
}
.drown_menu_area {
    padding: 25px 25px 50px;
}
.closeProduct {
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
}

.navbar_icon {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.navbar_icon:hover span {
    background: #535353;
}

.navbar_icon span {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 4px;
    transition: all 0.2s, background 0s;
    background: #535353;
}

.navbar_icon .line2 {
    top: 9.5px;
}

.navbar_icon .line3 {
    top: 19px;
}

.nav-open .line1,
.nav-open .line3 {
    top: 7px;
}

.nav-open .line1 {
    transform: rotate(45deg);
}

.nav-open .line3 {
    transform: rotate(-45deg);
}

.nav-open .line2 {
    opacity: 0;
    visibility: hidden;
}

.hidden {
    display: none;
}

.navbar-expand-md .navbar-nav .nav-link {
    line-height: 6rem;
}

nav.navbar.navbar-expand-md.bg-transparent.custom_position {
    position: static;
}
.drown_menu_area ul li a {
    color: #000;
    font-size: 1.7rem;
    line-height: 2rem;
}
.drown_menu_area ul li:not(:last-child) {
    margin-bottom: 24px;
}
.drown_menu_area ul li a:hover {
    color: var(--ss-primary);
}
.drop_pc {
    background: #e1f0ec;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0px 20px 20px #0000002e;
    border: 8px solid #fff;
    position: relative;
}
.drop_pc p {
    font-size: 14px;
    line-height: 18px;
}

.dropdown-hover:hover .dropdown-menu {
    left: 0px;

    display: block;
}
.drop_pc h5 {
    font-size: 2.2rem;
    line-height: 2rem;
    padding: 8px 0;
}

/* .banner_btn {
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--ss-primary);
  width: 17rem;
  height: 4rem;
  border-radius: 3.1rem;
  margin-top: 3.1rem;
} */

.dropdown-menu .banner_btn {
    font-size: 1.5rem;
    color: #fff;
    width: 17rem;
    height: 4.1rem;
    margin-top: 2.1rem;
    border: 1px solid;
}
.dropdown-menu .banner_btn:hover {
    background: #000;
    color: #fff;
    border: 1px solid;
}
.ldt_megico1 {
    left: 0px;
    bottom: 0px;
    position: absolute;
    width: 30px;
}
.ldt_megico2 {
    right: 0px;
    bottom: 0px;
    position: absolute;
    width: 30px;
}
#mega-menu-item-custom_html-5 {
    padding: 0px;
}
ul.sub-menu {
    display: none;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 6%;
}
.menu-item-has-children:hover ul.sub-menu {
    display: block;
}
section {
    padding: 0px;
}
section.main_header {
    overflow: unset;
}
.mega-menu-item-has-children:hover ul.mega-sub-menu {
    opacity: 1;
    transform: unset;
    visibility: visible;
}
#mega-menu-wrap-header-menu
    #mega-menu-header-menu
    > li.mega-menu-item
    > a.mega-menu-link {
    /* font-family: "Knockout HTF49-Liteweight"; */
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.3px;
}
#mega-menu-wrap-header-menu {
    margin: 0px auto;
}
header
    #mega-menu-wrap-header-menu
    #mega-menu-header-menu
    li.mega-menu-item
    > ul.mega-sub-menu {
    width: 100vw;
    min-width: 100vw;
    position: fixed;
    left: 0;
    top: 135px;
    padding: 1% 20%;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 22%);
}
.mega-sub-menu .custom-html-widget a {
    color: #000;
    padding: 5px 0;
    font-family: "Roboto";
    transition: all 0.3s ease-in-out;
    line-height: 18px;
}
.mega-sub-menu h4.mega-block-title {
    margin: 0 0 10px !important;
    font-family: "Roboto";
}
#mega-menu-wrap-header-menu
    #mega-menu-header-menu
    > li.mega-menu-item
    > a.mega-menu-link {
    font-weight: 500;
}
#mega-menu-wrap-header-menu
    #mega-menu-header-menu
    > li.mega-menu-item
    > a.mega-menu-link {
    padding: 0px 5px 0px 5px;
    font-size: 14.5px;
}
#mega-menu-wrap-header-menu
    #mega-menu-header-menu
    > li.mega-menu-item
    > a.mega-menu-link:hover {
    font-weight: 500 !important;
}
.textwidget.custom-html-widget button.btn.banner_btn {
    min-width: auto;
    max-width: max-content;
    /* background: #0b4d3c;
  color: #fff; */
    padding: 0px 25px;
    height: auto;
    margin: 0px;
    font-size: 14px;
    height: 42px;
    font-family: "din-2014", sans-serif;
}
.arrow-rht::after,
.related a.btn.custom_btn.pro-btn::after {
    content: "\f178";
    font-family: "FontAwesome";
    margin-left: 6px;
}
.textwidget.custom-html-widget button.btn.banner_btn:hover {
    background-color: #fff !important;
    border-color: #000 !important;
    color: #000 !important;
    transition: all 0.5s ease-in-out;
}
#mega-menu-wrap-header-menu
    #mega-menu-header-menu
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item#mega-menu-item-custom_html-5 {
    width: 45%;
}
.order_section .klaviyo-form.klaviyo-form.klaviyo-form {
    padding: 0px !important;
    background: transparent !important;
    overflow: visible !important;
}
.needsclick.kl-private-reset-css-Xuajs1 input {
    border: 0px !important;
    background: #fff !important;
    border-radius: 30px !important;
    height: 45px !important;
}
.needsclick.kl-private-reset-css-Xuajs1 button.needsclick {
    height: 45px !important;
    border-radius: 30px !important;
}
button.needsclick.klaviyo-close-form.kl-private-reset-css-Xuajs1 {
    width: 45px !important;
}
.banner-content a.btn.banner_btn:hover {
    background: #fff;
}
.needsclick.klaviyo-form .needsclick.kl-private-reset-css-Xuajs1 {
    justify-content: center !important;
}
.needsclick.kl-private-reset-css-Xuajs1 input {
    border: 1px solid #ddd !important;
    font-size: 16px;
}
.needsclick.kl-private-reset-css-Xuajs1 button.needsclick {
    outline: none;
    padding: 0px !important;
}
.go3176171171 span {
    font-size: 20px !important;
}
.needsclick.kl-private-reset-css-Xuajs1 button.needsclick.klaviyo-close-form {
    margin: -5px 1px 0 0 !important;
}
.needsclick.kl-private-reset-css-Xuajs1 button.needsclick svg {
    width: 40px;
}
.slick-track,
.icons-group {
    display: flex;
}
.carousel-control-next,
.carousel-control-prev {
    width: 5%;
    opacity: 0.9;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: transparent;
}
.bootstrap-banner .carousel-control-next-icon i,
.bootstrap-banner .carousel-control-prev-icon i {
    font-size: 20px;
}

.popup-sm .heart {
    animation: unset;
}
.category-pagination table.wc-product-table {
    visibility: visible;
}
.dataTables_wrapper tr:nth-child(even) {
    background: #f1f1f1;
}
.dataTables_wrapper tr th,
.dataTables_wrapper tr td {
    vertical-align: middle;
}
.dataTables_wrapper tr td del {
    color: #999;
    padding-right: 10px;
}
.dataTables_wrapper tr td ins {
    font-weight: 700;
}
.wholesale-login .u-column1.col-1 p.form-row {
    flex-direction: column;
    display: flex;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    display: flex;
    align-items: center;
}
.woocommerce-form-login__rememberme input#rememberme {
    max-width: max-content;
    margin-right: 6px;
}
.wc-product-table .product .wpt_variations_form .quantity input.qty {
    border-radius: 30px;
    overflow: hidden !important;
    display: block;
    border: 1px solid #000;
    text-align: center;
    padding: 0 10px;
    font-weight: 600;
    color: #000;
    min-width: 70px;
}
td.col-price {
    font-weight: 700;
}
td.col-price {
    font-size: 16px;
}
.variations_form.product-variation-form table.variations,
.product-variation-form .quantity,
.product-variation-form .woocommerce-variation.single_variation {
    display: none !important;
}
.wpt_variations_form button.single_add_to_cart_button.button.alt {
    max-width: 110px;
}
.wc-product-table .no-quantity .cart.wpt_variations_form .quantity {
    /* display: inline-block !important; */
}
.wc-product-table .wpt_variations_form.cart .variations select {
    border-radius: 30px;
    min-width: 110px;
}
.category-pagination del.wcwp-wholesale-price-range,
.category-pagination ins {
    font-size: 12px;
    white-space: nowrap;
    display: block;
}
.col-short-description p,
.col-short-description {
    font-size: 14px;
    line-height: 18px;
}
.wp-block-woocommerce-checkout {
    padding-top: 0;
}
.commn-layout .wp-block-woocommerce-checkout p {
    padding: 0px;
    font-size: 14px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-title.wc-block-components-title {
    font-size: 30px;
    color: #0b4d3c;
}
.wc-block-components-checkbox label {
    font-size: 14px;
}
.wp-block-woocommerce-checkout
    .wp-block-woocommerce-checkout-shipping-address-block
    p.wc-block-components-checkout-step__description {
    margin: 0px;
}
.wp-block-woocommerce-checkout
    .wc-block-checkout__terms.wc-block-checkout__terms--with-separator {
    padding-top: 8px;
    margin: 0;
}
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-checkout__order-notes.wc-block-components-checkout-step {
    margin-bottom: 10px;
    font-size: 14px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-checkout-step {
    margin: 0px 0 30px;
}
a.wc-block-components-checkout-return-to-cart-button svg {
    position: relative;
    top: unset;
    transform: unset;
    margin-right: 5px;
}
button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    min-width: 250px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-radio-control
    .wc-block-components-radio-control__input:checked:before {
    background: #ffcb00;
}
.wp-block-woocommerce-checkout
    .wc-block-components-radio-control
    .wc-block-components-radio-control__input:checked {
    border: 1px solid #ffcb00;
}
.wp-block-woocommerce-checkout .wc-block-components-product-name {
    font-size: 14px;
    padding-top: 0px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-order-summary
    .wc-block-components-order-summary-item__individual-prices {
    padding-top: 0px;
    font-size: 14px;
    color: #0b4d3c;
    font-weight: 600;
}
.wp-block-woocommerce-checkout
    .wp-block-woocommerce-checkout-order-summary-block
    .wc-block-components-formatted-money-amount,
.wp-block-woocommerce-checkout
    .wc-block-components-totals-shipping
    .wc-block-components-totals-shipping__via,
.wp-block-woocommerce-checkout
    .wc-block-components-totals-shipping
    .wc-block-components-shipping-address,
.wp-block-woocommerce-checkout .wc-block-components-totals-item__label {
    font-size: 14px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-order-summary
    .wc-block-components-order-summary-item__image
    > img {
    border-radius: 5px;
}
.wp-block-woocommerce-checkout
    .wp-block-woocommerce-checkout-order-summary-block {
    border-color: #1b5949;
}
.woocommerce ul.order_details li::before,
.wp-block-woocommerce-checkout
    .wc-block-components-product-details.wc-block-components-product-details
    li::before {
    display: none;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    text-align: center;
    color: #50991c;
    font-weight: 600;
}
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-text-input
    input[type="email"],
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-text-input
    input[type="number"],
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-text-input
    input[type="password"],
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-text-input
    input[type="tel"],
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-text-input
    input[type="text"],
.wp-block-woocommerce-checkout
    .wc-block-components-form
    .wc-block-components-text-input
    input[type="url"],
.wp-block-woocommerce-checkout
    .wc-block-components-text-input
    input[type="email"],
.wp-block-woocommerce-checkout
    .wc-block-components-text-input
    input[type="number"],
.wp-block-woocommerce-checkout
    .wc-block-components-text-input
    input[type="password"],
.wp-block-woocommerce-checkout
    .wc-block-components-text-input
    input[type="tel"],
.wp-block-woocommerce-checkout
    .wc-block-components-text-input
    input[type="text"],
.wp-block-woocommerce-checkout
    .wc-block-components-text-input
    input[type="url"],
.wp-block-woocommerce-checkout
    .wc-blocks-components-select
    .wc-blocks-components-select__select {
    border-color: #ddd;
}
.wp-block-woocommerce-checkout
    .wc-block-components-radio-control--highlight-checked
    .wc-block-components-radio-control-accordion-option--checked-option-highlighted,
.wp-block-woocommerce-checkout
    .wc-block-components-radio-control--highlight-checked
    label.wc-block-components-radio-control__option--checked-option-highlighted {
    box-shadow: inset 0 0 0 1.5px #ccc;
}
.wp-block-woocommerce-checkout
    .wc-block-components-checkbox
    .wc-block-components-checkbox__input[type="checkbox"] {
    height: 14px;
    min-height: 14px;
    min-width: 14px;
    width: 14px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-checkbox
    .wc-block-components-checkbox__mark {
    margin: 0px;
    width: 14px;
    height: 14px;
}
.wp-block-woocommerce-checkout
    .wc-block-components-product-details.wc-block-components-product-details
    li {
    font-size: 13px;
    padding-left: 0px;
}
.payment-icons ul {
    display: flex;
}
td.col-buy.col-add-to-cart .shipping-info.d-none.d-lg-block.desk-shipping {
    display: none !important;
}
.payment-info-sec ul {
    display: flex;
}
.payment-info-sec {
    justify-content: center;
    flex-direction: column;
}
.secure-pay {
    justify-content: end;
}
.secure-pay p {
    font-size: 13px;
}
td.col-price {
    white-space: nowrap;
}
.d-flex.pb-3.justify-content-center.payment-info-sec.resp-view {
    display: none !important;
}
.wc-product-table .product .with-quantity.with-cart-button button.button {
    background: #ffcb00;
    border-radius: 30px;
    color: #000;
}
span.woocommerce-Price-amount.amount {
    font-weight: 700;
}
td.col-genetics {
    color: #0b4d3c;
    font-weight: 500;
}
.checkout-loader {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-loader .text-success {
    width: 80px;
    height: 80px;
    font-size: 20px;
}
.whol_bx .wholesale-login form.woocommerce-form.woocommerce-form-login.login {
    margin: 0px 0 20px;
    width: 100%;
    max-width: 100%;
}
.whol_bx
    .wholesale-login
    form.woocommerce-form.woocommerce-form-login.login
    p.form-row {
    clear: both;
    margin: 0px;
}
.whol_bx
    .wholesale-login
    form.woocommerce-form.woocommerce-form-login.login
    p.form-row.woocommerce-form-row {
    width: 49%;
    float: left;
    clear: unset;
}
.whol_bx
    .wholesale-login
    form.woocommerce-form.woocommerce-form-login.login
    p.form-row.woocommerce-form-row
    input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
}
.whol_bx .woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    border-radius: 30px;
    font-size: 14px;
    color: #000;
    padding: 0 25px;
    background: #ffcb00;
    margin: 5px 0 0;
}
.whol_bx p.woocommerce-LostPassword.lost_password a {
    font-size: 14px;
}
.whol_bx .wholesale-login h2 {
    text-align: center;
    display: block;
    margin: 0 0 10px;
    font-size: 40px;
    text-transform: uppercase;
}
.top-review {
    height: 30px;
}
.box-info {
    background: #f5f5f5;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}
.box-info h3 {
    font-size: 30px;
    text-transform: uppercase;
}
.box-info a.comon_btn {
    text-transform: uppercase;
    padding: 12px 44px;
    font-size: 14px;
    width: 90%;
    max-width: 300px;
}
.divide-or {
    width: 40px;
    height: 40px;
    background: #0b4d3c;
    max-width: 40px !important;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    margin: 0 -20px;
    z-index: 1;
    margin-top: 6%;
}
.box-info.lft-txt h3 {
    text-align: left;
    width: 90%;
    margin: 0px auto 20px;
    font-size: 20px;
}
.btm-info-box .divide-or {
    margin-top: 10%;
}
.whl-prg-new h2 {
    font-size: 4.2rem;
    line-height: 5.5rem;
    color: #0b4d3c;
    font-family: "Knockout HTF49-Liteweight";
    text-transform: uppercase;
    margin: 15px 0 5px;
}
.whl-prg-new h3 {
    font-size: 3.2rem;
    /* line-height: 4.5rem; */
    color: #0b4d3c;
    font-family: "Knockout HTF49-Liteweight";
    text-transform: uppercase;
    margin: 25px 0 8px;
}
.whl-prg-new ul li {
    margin: 0 0 15px;
    font-family: "Roboto";
    font-size: 16px;
    padding-left: 30px;
    position: relative;
}
.whl-prg-new ul li::before {
    content: "";
    background: url(../images/crown.png) no-repeat;
    background-size: contain;
    width: 25px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 4px;
}
.whl-prg-new ul li li::before {
    background: #0b4d3c;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 10px;
    top: 8px;
}
.whl-prg-new ul li ul {
    padding-top: 10px;
}
img.rht-img-top {
    margin: 30px 0;
}
img.right-sm-img {
    float: right;
    max-width: 320px;
    margin: 0 0 10px 20px;
}
.right_text.fixed img.rht-img-top {
    margin-top: 0px;
}
.single-media li a {
    color: #0d6efd;
}
/*.prod-main-wrap-sec .product.type-product, .prod-main-wrap-sec .pro-new-description{
    float: left;
}*/
.prod-main-wrap-sec {
    margin: 0px auto;
}
.prod-main-wrap-sec .container {
    float: unset;
    display: table;
}
/*.prod-main-wrap-sec .product-left {
    min-width: 100%;
}*/

@media only screen and (min-width: 769px) {
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-megamenu
        > ul.mega-sub-menu
        li.mega-menu-columns-4-of-12 {
        width: 27%;
    }
}

@media (min-width: 1700px) {
    .h-container {
        max-width: 1640px;
    }

    .custom-container {
        max-width: 1640px;
    }
}

@media (max-width: 1699.99px) {
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 1.8rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}

@media (max-width: 1399px) {
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-item
        > a.mega-menu-link {
        padding: 0px 2px 0px 2px;
    }
    .box-info.lft-txt h3 {
        font-family: 18px;
    }
}
@media (max-width: 1399px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
    header .navbar-expand-md .navbar-nav .nav-link {
        font-size: 1.5rem;
    }
    .banner_area.inner-banner.shop-main-banner,
    .inner_bnner.wholesal_bnnr {
        height: 150px;
    }
    header .navbar-brand img {
        max-width: 140px;
    }
    .drop_pc h5 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 14px;
    }
    .drop_pc p {
        font-size: 14px;
        line-height: 18px;
    }
    .dropdown-menu .banner_btn {
        width: 14rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-device-width: 991px) {
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 1.4rem;
        padding-left: 0rem;
        padding-right: 2rem;
    }
    .divide-or {
        margin: 0 -20px;
        z-index: 1;
        margin: -25px 0;
        margin-left: 45%;
    }
    .btm-info-box .divide-or {
        margin-top: -20px;
    }
    .whol_bx
        .wholesale-login
        form.woocommerce-form.woocommerce-form-login.login
        p.form-row.woocommerce-form-row {
        width: 100%;
    }
    /* .needsclick.kl-private-reset-css-Xuajs1 {
    display: block !important;
  } */
    form button.needsclick.go952291206.kl-private-reset-css-Xuajs1 {
        padding: 0 25px !important;
    }
    input#first_name_95137342,
    .needsclick.kl-private-reset-css-Xuajs1 input,
    .kl-private-reset-css-Xuajs1 input[type="email"] {
        min-width: 100% !important;
        max-width: 100%;
    }
    .needsclick.klaviyo-form
        .needsclick.kl-private-reset-css-Xuajs1
        .kl-private-reset-css-Xuajs1
        input[type="email"] {
        max-width: 100%;
    }

    header
        #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        li.mega-menu-item
        > ul.mega-sub-menu {
        padding: 1% 5%;
    }
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-megamenu
        > ul.mega-sub-menu
        > li.mega-menu-item#mega-menu-item-custom_html-5 {
        width: 100%;
    }
    .main_header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        transition-delay: 0.02s;
    }
    /* .banner_area,
  .inner-banner,
  .content-area,
  .inner_bnner,
  .default-layout .privacy-wrap, .single-media {
    padding-top: 125px;
  } */
    .inner_bnner,
    .inner-banner {
        height: 250px;
    }
    /* blogCustom */
    main {
        padding-top: 120px !important;
    }
    .inner-banner .banner-content p {
        padding: 0 0 5px;
    }
    .inner-banner .banner-content p br {
        display: none;
    }
    .content-area .inner-banner {
        padding: 0px;
    }
    #navbarNav .mega-sub-menu li i {
        display: block;
        position: absolute;
        content: "\f078";
        right: 15px;
        font-style: normal;
    }
    .fa-chevron-down:before {
        content: "\f078";
        font-family: "FontAwesome";
    }
    .open-menu i {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }
    .main_header {
        background-color: #fff !important;
    }

    .header_area ul li a:hover {
        color: var(--ss-primary);
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    .main_header {
        z-index: 9;
        box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
        transition: 0.2s;
    }

    ul.navbar-nav li a.nav-link {
        color: #000 !important;
    }

    ul.navbar-nav li active a.nav-link {
        color: #ff9 !important;
    }

    ul.navbar-nav li a.nav-link:hover {
        color: var(--ss-secondary) !important;
    }

    .main_header {
        box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
        transition: 0.2s;
        animation: smoothScroll 1s forwards;
    }

    .cart-contents span {
        visibility: inherit !important;
        transform: rotate(0deg) !important;
        opacity: 1 !important;
        top: -2rem;
        right: -0.8rem;
    }

    .shrink.header_area {
        padding: 0px;
    }

    .dropdown-item img {
        margin-bottom: 10px;
    }

    .icons-group a {
        padding: 0rem 0.5rem;
    }

    header .navbar-brand img {
        max-width: 90px;
    }
    .mega-sub-menu .textwidget.custom-html-widget li {
        width: 100%;
    }
    .css-0.e19lxcc00 {
        /* display: none; */
    }
}

@media (max-width: 767px) {
    .dropdown-item img {
        width: 50px;
    }
    img.right-sm-img {
        float: unset;
        max-width: 300px;
        margin: 10px auto;
    }
    .site-footer .copyright_area h5 {
        font-size: 16px;
    }
    .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
        padding-top: 20px;
    }
    .needsclick.kl-private-reset-css-Xuajs1
        button.needsclick.klaviyo-close-form {
        margin: -20px 1px 0 0 !important;
    }
    .klaviyo-form.klaviyo-form.klaviyo-form {
        max-width: 100% !important;
    }
    .needsclick.kl-private-reset-css-Xuajs1 {
        margin: 0px auto;
    }
    header .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .navbar-brand img {
        width: 100%;
    }

    .cart-contents span {
        visibility: inherit !important;
        transform: rotate(0deg) !important;
        opacity: 1 !important;
        top: -11px !important;
    }

    header {
        padding-bottom: 2rem;
    }

    .shrink.header_area {
        padding-bottom: 2rem;
    }

    header .navbar-expand-md .navbar-nav .dropdown-menu {
        top: 0px;
        border: none;
        height: 100%;

        transition: all 0.2s ease-in-out;
    }

    .product_search input {
        padding: 12px 15px;
        font-size: 14px;
    }

    .navbar-expand-md .navbar-nav .dropdown-menu ul li .dropdown-item {
        padding: 2rem 0rem;
    }

    .header-right-menus {
        padding: 0rem;
        margin-top: 2rem;
    }

    #navbarNav ul li i {
        display: none;
    }

    header .navbar-brand {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }

    header .navbar-toggler-icon {
        /* background-image: url(../images/menu_icon.png); */
        width: 3.6rem;
        height: 2.4rem;
    }

    .shrink .navbar-toggler {
        margin-top: 2rem;
    }

    .navbar-toggler {
        margin-top: 2rem;
    }

    #search-icon {
        /* position: absolute; */
        left: 21%;
    }

    #search-overlay {
        right: 0;
        top: 140%;
        left: 0;
    }

    header .navbar-toggler:focus {
        box-shadow: none;
    }

    header .navbar-collapse {
        position: absolute;
        top: 100%;
        right: 0%;
        left: 0;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
        padding: 20px;
        background: #ececec;
        z-index: 1;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        line-height: initial;
    }

    header .nav-item {
        height: auto;
        margin-bottom: 0.5rem;
        background-color: #fff;
        border-radius: 10px;
    }

    header .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 2.4rem;
        padding-top: 1.92rem;
        padding-bottom: 1.92rem;
    }

    header .dropdown-toggle::after,
    .is-mobile
        .wp-block-woocommerce-checkout-order-summary-block.checkout-order-summary-block-fill-wrapper {
        display: none;
    }

    header .dropdown-toggle {
        position: relative;
    }
    .commn-layout .wp-block-woocommerce-checkout {
        padding-top: 0;
    }
    .commn-layout .wc-block-components-order-summary,
    .commn-layout
        .is-mobile
        .wp-block-woocommerce-checkout-order-summary-block
        .wc-block-components-checkout-order-summary__content.is-open
        > .wc-block-components-totals-wrapper:first-child {
        padding: 0 0px;
    }
    header .dropdown-toggle::before {
        content: "\f105";
        font-family: "FontAwesome";
        font-size: 3rem;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    .commn-layout
        .is-mobile
        .wc-block-components-form
        .wc-block-components-checkout-step,
    .commn-layout
        .is-small
        .wc-block-components-form
        .wc-block-components-checkout-step {
        padding-top: 15px;
        margin: 0 0 15px;
    }
    .commn-layout
        .is-mobile
        .wc-block-components-form
        .wc-block-components-checkout-step:after,
    .commn-layout
        .is-small
        .wc-block-components-form
        .wc-block-components-checkout-step:after {
        bottom: -15px;
    }
    .commn-layout
        .wp-block-woocommerce-checkout-actions-block
        .wc-block-checkout__actions_row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu ul li {
        width: 100%;
        border: none;
    }

    .navbar-expand-md .navbar-nav .dropdown-menu {
        border: 0;
        position: absolute;
        top: 0;
    }

    .navbar-expand-md .navbar-nav .dropdown-menu ul li span.trackName {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .navbar-expand-md .navbar-nav .dropdown-menu h4 {
        padding-left: 0rem;
    }

    .dropdown-item:active span {
        color: #fff;
    }

    .navbar-expand-md .navbar-nav .dropdown-menu {
        transition: all 0.2s;
        padding: 0rem 3rem;
    }

    .navbar-nav {
        background: #ececec;
        position: relative;
        z-index: 9;
    }

    header .nav-item {
        display: block;
    }
    .header_area {
        position: relative;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    .dropdown-menu {
        right: -100%;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    .dropdown-menu.show {
        right: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    .dropdown-hover:hover .dropdown-menu {
        display: none;
    }
    .mob-submenu {
        position: absolute;
        right: -100%;
        height: 100%;
        top: 0;
        display: block;
        transition: all 0.3s ease-in-out;
    }
    header .navbar-collapse.mob-submenu.active {
        right: 0;
        transition: all 0.3s ease-in-out;
    }
    header .navbar-collapse.mob-submenu {
        top: 0;
        right: -100%;
        left: unset;
        height: 100%;
    }
    .navbar-expand-md .navbar-collapse.mob-submenu {
        display: block !important;
        padding: 0px;
    }
    #navbarNav ul li .back-to-menu i {
        display: block;
        font-family: "FontAwesome";
        font-style: normal;
    }
    .back-to-menu {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-family: "Knockout HTF49-Liteweight";
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        margin: -20px -20px 20px;
        width: calc(100% + 40px);
        padding: 10px;
    }
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        li.mega-menu-item.mega-toggle-on
        > ul.mega-sub-menu,
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        li.mega-menu-megamenu.mega-menu-item.mega-toggle-on
        ul.mega-sub-menu {
        position: fixed;
        top: 110px;
        background: #ececec;
        height: calc(100vh - 110px);
    }
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-megamenu
        > ul.mega-sub-menu
        > li.mega-menu-item
        h4.mega-block-title {
        padding: 0px;
        margin: 0px !important;
        font-family: "Knockout HTF49-Liteweight";
        letter-spacing: 0.5px;
    }
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-megamenu
        > ul.mega-sub-menu
        > li.mega-menu-item,
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-flyout
        ul.mega-sub-menu
        li.mega-menu-item {
        background: #fff;
        border-radius: 3px;
        margin: 0 0 5px;
    }
    header .navbar-collapse {
        height: calc(100vh - 110px);
    }
    #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        li.mega-menu-item-has-children
        > a.mega-menu-link
        > span.mega-indicator {
        transform: rotate(-90deg);
    }
    #navbarNav .back-menu i {
        display: inline-table;
        padding-right: 10px;
    }
    .back-menu {
        background: #fff;
        width: calc(100% + 52px);
        margin: -3px -26px 30px;
        padding: 10px;
        box-shadow: 0px 5px 3px #00000024;
    }
    #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item {
        background: #fff;
        border-radius: 3px;
        margin: 0 0 5px;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }

    /* .d-flex.pb-3.justify-content-center.payment-info-sec.resp-view {
        display: block !important;
    } */
    .wc-product-table-reset a {
        background: #0b4d3c;
        padding: 6px 10px;
        border-radius: 5px;
        color: #fff;
    }
    .wc-product-table-wrapper .wc-product-table-controls > div {
        display: flex;
        align-items: center;
        margin: 0 0 10px;
    }
}
@media (max-width: 600px) {
    .shrink .navbar-toggler {
        margin-top: 1rem;
    }
    .header-right-menus {
        margin-top: 1rem;
    }
    .menuBtmNav .overflow-auto {
        padding: 2px 10px 0 !important;
    }
    .main_header
        #mega-menu-wrap-header-menu
        #mega-menu-header-menu
        > li.mega-menu-item
        > a.mega-menu-link {
        margin: 0px;
    }
    .top_header p {
        font-size: 14px;
        padding: 6px 0rem;
    }
    .top_header {
        height: auto;
    }
    .hm-section .carousel-inner img {
        /*height: 150px;*/
        height: 136px;
        object-fit: cover;
    }
    .about_area .row.newProBlogSec {
        margin: 5px 0 0 !important;
    }
}
@media (max-width: 480px) {
}

@media screen and (max-width: 390px) {
    .hm-section .carousel-inner img {
        height: 110px;
        object-fit: cover;
    }
}

@media (max-width: 380px) {
}

@media (max-width: 340px) {
    .product_search input {
        padding: 12px 7px;
        font-size: 13px;
    }
}
